@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* PANTALLA DE CARGA */
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carga img{
  width: 200px;
  height: 200px;
  -webkit-animation: girar 1s linear infinite;
  -o-animation: girar 1s linear infinite;
  animation: girar 1s linear infinite;

}

@keyframes girar {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.login-box{
    width: 320px;
    height: 420px;
    background: slategrey;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(44% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c2b71e6;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}


.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: burlywood;
}

.login-box a:hover{
    color: #fff;
}

.icono-volver {
    width: 30px;
    height: 30px;
    fill: #fff;
  }